- page_title "属于 #{@user.name}", "代码片段"

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to snippets_path do
      代码片段
  %li.breadcrumb-item
    = @user.name
  .float-right.d-none.d-sm-block
    = link_to user_path(@user) do
      #{@user.name} 个人资料页面

= render 'snippets'
