- @no_container = true
- add_to_breadcrumbs "Environments", project_environments_path(@project)
- breadcrumb_title @environment.name
- page_title "运行环境"

%div{ class: container_class }
  - if can?(current_user, :stop_environment, @environment)
    #stop-environment-modal.modal.fade{ tabindex: -1 }
      .modal-dialog
        .modal-content
          .modal-header
            %h4.modal-title.d-flex.mw-100
              Stopping
              %span.has-tooltip.text-truncate.ml-1.mr-1.flex-fill{ title: @environment.name, data: { container: '#stop-environment-modal' } }
                = @environment.name
              ?
          .modal-body
            %p= s_('Environments|Are you sure you want to stop this environment?')
            - unless @environment.stop_action_available?
              .warning_message
                %p= s_('Environments|Note that this action will stop the environment, but it will %{emphasis_start}not%{emphasis_end} have an effect on any existing deployment due to no “stop environment action” being defined in the %{ci_config_link_start}.gitlab-ci.yml%{ci_config_link_end} file.').html_safe % { emphasis_start: '<strong>'.html_safe,
                  emphasis_end: '</strong>'.html_safe,
                  ci_config_link_start: '<a href="https://docs.gitlab.com/ee/ci/yaml/" target="_blank" rel="noopener noreferrer">'.html_safe,
                  ci_config_link_end: '</a>'.html_safe }
                %a{ href: 'https://docs.gitlab.com/ee/ci/environments.html#stopping-an-environment',
                  target: '_blank',
                  rel: 'noopener noreferrer' }
                  = s_('Environments|Learn more about stopping environments')
          .modal-footer
            = button_tag _('Cancel'), type: 'button', class: 'btn btn-cancel', data: { dismiss: 'modal' }
            = button_to stop_project_environment_path(@project, @environment), class: 'btn btn-danger has-tooltip', method: :post do
              = s_('Environments|Stop environment')

  .row.top-area.adjust
    .col-md-7
      %h3.page-title= @environment.name
    .col-md-5
      .nav-controls
        = render 'projects/environments/terminal_button', environment: @environment
        = render 'projects/environments/external_url', environment: @environment
        = render 'projects/environments/metrics_button', environment: @environment
        - if can?(current_user, :update_environment, @environment)
          = link_to '编辑', edit_project_environment_path(@project, @environment), class: 'btn'
        - if can?(current_user, :stop_environment, @environment)
          = button_tag class: 'btn btn-danger', type: 'button', data: { toggle: 'modal',
            target: '#stop-environment-modal' } do
            = sprite_icon('stop')
            = s_('Environments|Stop')

  .environments-container
    - if @deployments.blank?
      .blank-state-row
        .blank-state-center
          %h2.blank-state-title
            你现在还没有任何部署。
          %p.blank-state-text
            在
            %code .gitlab-ci.yml
            中定义运行环境来跟踪部署情况。
          点击
          = link_to "这里", help_page_path("ci/environments"), class: "btn btn-success"
          了解更多。
    - else
      .table-holder
        .ci-table.environments{ role: 'grid' }
          .gl-responsive-table-row.table-row-header{ role: 'row' }
            .table-section.section-10{ role: 'columnheader' } ID
            .table-section.section-30{ role: 'columnheader' } Commit
            .table-section.section-25{ role: 'columnheader' } Job
            .table-section.section-15{ role: 'columnheader' } Created

          = render @deployments

      = paginate @deployments, theme: 'gitlab'
