- is_current_user = issuable_author_is_current_user(issuable)
- display_issuable_type = issuable_display_type(issuable)
- button_method = issuable_close_reopen_button_method(issuable)

- if can_update
  - if is_current_user
    = link_to "Close #{display_issuable_type}", close_issuable_path(issuable), method: button_method,
              class: "d-none d-sm-none d-md-block btn btn-grouped btn-close js-btn-issue-action #{issuable_button_visibility(issuable, true)}", title: "Close #{display_issuable_type}"
  - else
    = render 'shared/issuable/close_reopen_report_toggle', issuable: issuable
  - if can_reopen && is_current_user
    = link_to "Reopen #{display_issuable_type}", reopen_issuable_path(issuable), method: button_method,
              class: "d-none d-sm-none d-md-block btn btn-grouped btn-reopen js-btn-issue-action #{issuable_button_visibility(issuable, false)}", title: "Reopen #{display_issuable_type}"
- else
  = link_to '举报违规', new_abuse_report_path(user_id: issuable.author.id, ref_url: issuable_url(issuable)),
            class: 'd-none d-sm-none d-md-block btn btn-grouped btn-close-color', title: '举报违规'
