- if Gitlab::CurrentSettings.email_author_in_body
  %p.details
    #{link_to @merge_request.author_name, user_url(@merge_request.author)} 创建合并请求:

%p.details
  != merge_path_description(@merge_request, '&rarr;')

- if @merge_request.assignee_id.present?
  %p
    指派给: #{@merge_request.assignee_name}

= render_if_exists 'notify/merge_request_approvers', presenter: @mr_presenter

- if @merge_request.description
  %div
    = markdown(@merge_request.description, pipeline: :email, author: @merge_request.author)
